<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
    <Appenders>
        <CatAppender name="clog"/>
        <CatLog4j2Appender name="cat"/>
        <Console name="Console" target="SYSTEM_OUT" follow="false">
            <PatternLayout pattern="%5p:%d{yyyy-MM-dd HH:mm:ss.SSS}[%M] %m %n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger level="INFO">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="ERROR">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>